@{
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

@model List<SignalRWebUI.Models.Dtos.TestimonialDto.ResultTestimonialDto>

<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">Referans İşlemleri</h4>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">Referans Listesi</div>
                    </div>
                    <div class="card-body">
                        <div class="card-sub">
                            Referans ile ilgili işlemleri aşağıdan gerçekleştirebilirsiniz :
                        </div>
                        <table class="table mt-3">
                            <thead>
                            <tr>
                                <th scope="col">Referans Adı</th>
                                <th scope="col">Referans Başlığı</th>
                                <th scope="col">Sil</th>
                                <th scope="col">Güncelle</th>
                            </tr>
                            </thead>
                            <tbody>
                            @foreach (var tes in Model)
                            {
                                <tr>
                                    <td>@tes.Name</td>
                                    <td>@tes.Title</td>
                                    <td><a href="/Testimonial/DeleteTestimonial/@tes.TestimonialID" class="btn btn-outline-danger">Sil</a></td>
                                    <td><a href="/Testimonial/UpdateTestimonial/@tes.TestimonialID" class="btn btn-outline-success">Güncelle</a></td>
                                </tr>
                            }
                            </tbody>
                        </table>
                        <a href="/Testimonial/CreateTestimonial" class="btn btn-outline-primary">Referans Ekle</a>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>