@{
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

@model SignalRWebUI.Models.Dtos.DiscountDto.UpdateDiscountDto

<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">İletişim İşlemleri</h4>
        <div class="row">
            <div class="col-md-12">
                <form asp-controller="Contact" asp-action="UpdateContact" method="post">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">İletişim Güncelleme Sayfası</div>
                        </div>
                        <input type="hidden" asp-for="DiscountID" />
                        <div class="card-body">
                            <div class="form-group">
                                <label for="discountname">İndirim Başlığı giriniz</label>
                                <input id="discountname" type="text" asp-for="Title" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="discountdescription">Telefon giriniz</label>
                                <input id="discountdescription" type="tel" asp-for="Amount" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="discountIMGurl">Mail giriniz</label>
                                <input id="discountIMGurl" type="email" asp-for="Description" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="discountIMGurl">Alt Açıklama giriniz</label>
                                <input id="discountIMGurl" type="text" asp-for="ImageURL" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="discountProduct">İndirimin Uygulanacağı Ürünler</label>
                                @*@Html.DropDownListFor(x=>x.);*@
                            </div>
                        </div>
                        <div class="card-action">
                            <button type="submit" class="btn btn-primary">Güncelle</button>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>