@{
    Layout = null;
}

@model SignalR_Entities.Concrete.AppUser

<div class="sidebar">
    <div class="scrollbar-inner sidebar-wrapper">
        <div class="user">
            <div class="photo">
                <img src=@Model.ImageURL>
            </div>
            <div class="info">
                <a class="" data-toggle="collapse" href="#collapseExample" aria-expanded="true">
                    <span>
                        @Model.Name
                        <span class="user-level">Admin</span>
                        <span class="caret"></span>
                    </span>
                </a>
                <div class="clearfix"></div>

                <div class="collapse in" id="collapseExample" aria-expanded="true" style="">
                    <ul class="nav">
                        <li>
                            <a href="/Home/UserSettings">
                                <span class="link-collapse">Profil Ayarları</span>
                            </a>
                        </li>
                        <li>
                            <a href="/Message/Index">
                                <span class="link-collapse">Mesajlar</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <ul class="nav">
            @*<li class="nav-item">
                <a href="index.html">
                    <i class="la la-dashboard"></i>
                    <p>Dashboard</p>
                    <span class="badge badge-count">5</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="components.html">
                    <i class="la la-table"></i>
                    <p>Menüyü Gör</p>
                    <span class="badge badge-count">14</span>
                </a>
            </li>*@
            <li class="nav-item">
                <a href="/Category/Index">
                    <i class="la la-keyboard-o"></i>
                    <p>Kategoriler</p>
                    <span class="badge badge-success" id="categoryCount"></span>
                </a>
            </li>
            <li class="nav-item">
                <a href="/Product/Index">
                    <i class="la la-th"></i>
                    <p>Ürünler</p>
                    <span class="badge badge-success" id="productCount"></span>
                </a>
            </li>
            <li class="nav-item">
                <a href="/Discount/Index">
                    <i class="la la-fonticons"></i>
                    <p>İndirimler</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/Booking/Index">
                    <i class="la la-bell"></i>
                    <p>Rezervasyonlar</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/About/Index">
                    <i class="la la-font"></i>
                    <p>Hakkımızda</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/Statistics/Tables">
                    <i class="la la-bell"></i>
                    <p>Masa Durumları</p>
                    <span class="badge badge-warning" id="activeMenuTableCount"></span>
                </a>
            </li>
            <li class="nav-item">
                <a href="/Notification/Index">
                    <i class="la la-bell"></i>
                    <p>Bildirimler</p>
                    <span class="badge badge-danger" id="notificationFalseCount"></span>
                </a>
            </li>
            <li class="nav-item">
                <a href="/Feature/Index">
                    <i class="la la-font"></i>
                    <p>Öne Çıkanlar</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/Testimonial/Index">
                    <i class="la la-fonticons"></i>
                    <p>Referanslar</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/Contact/Index">
                    <i class="la la-fonticons"></i>
                    <p>İletişim</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/SocialMedia/Index">
                    <i class="la la-fonticons"></i>
                    <p>Sosyal Medya</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/Statistics/Index">
                    <i class="la la-fonticons"></i>
                    <p>İstatistikler</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/QRCode/Index">
                    <i class="la la-fonticons"></i>
                    <p>QR</p>
                </a>
            </li>
        </ul>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="https://cdn.jsdelivr.net/npm/@@microsoft/signalr@7.0.14/dist/browser/signalr.min.js"></script>

<script type="text/javascript">
                    $(document).ready(() => {
                        var connection = new signalR.HubConnectionBuilder().withUrl("http://localhost:7237/SignalRHub").build();
                        $("#connstatus").text(connection.state);
                        connection.start().then(() => {
                            $("#connstatus").text(connection.state);
                            setInterval(()=>{
                                connection.invoke("SendSidebarNotificaton");
                                },1000);
                        }).catch((err) => { console.log(err) });
						
                        connection.on("ReceiveProductCount", (value)=> {
                            $("#productCount").text(value);
                        });
                        
                        connection.on("ReceiveCategoryCount", (value2)=> {
                            $("#categoryCount").text(value2);
                        });
                        
                        connection.on("ReceiveActiveMenuTableCount", (value3)=> {
                            $("#activeMenuTableCount").text(value3);
                        });
                        
                        connection.on("ReceiveNotificationFalseCount", (value4)=> {
                            $("#notificationFalseCount").text(value4);
                        });
                    });
                </script>
                