@{
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

@model List<SignalRWebUI.Models.Dtos.MessageDto.ResultMessageDto>

<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">Mesaj İşlemleri</h4>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">Mesaj Listesi</div>
                    </div>
                    <div class="card-body">
                        <div class="card-sub">
                            Mesajlarla ilgili işlemleri aşağıdan gerçekleştirebilirsiniz :
                        </div>
                        <table class="table mt-3">
                            <thead>
                            <tr>
                                <th scope="col">Kişi</th>
                                <th scope="col">Telefon</th>
                                <th scope="col">Mail</th>
                                <th scope="col">Gönderim Tarihi</th>
                                <th scope="col">Detay Sayfası</th>
                                <th scope="col">Sil</th>
                            </tr>
                            </thead>
                            <tbody>
                            @foreach (var message in Model)
                            {
                                <tr>
                                    <td>@message.NameSurname</td>
                                    <td>@message.Phone</td>
                                    <td>@message.Mail</td>
                                    <td>@message.MessageSendDate</td>
                                    <td><a href="/Message/DetailMessage/@message.MessageID" class="btn btn-outline-warning">Detay</a></td>
                                    <td><a href="/Message/DeleteMessage/@message.MessageID" class="btn btn-outline-danger">Sil</a></td>
                                </tr>
                            }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>