<!-- slider section -->
    <section class="slider_section ">
      <div id="customCarousel1" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="container ">
              <div class="row">
                <div class="col-md-7 col-lg-6 ">
                  <div class="detail-box">
                    <h1>
                      Bilek Yalatan Lezzetler
                    </h1>
                    <p>
                      Öyle sıradan bir fast-food restoranı değiliz, menülerimizden yedikten sonra bir sonraki sefer için geceleri gözüne uyku girmeyecek. Çıldıracak fıttıracaksın !
                    </p>
                    <div class="btn-box">
                      <a href="" class="btn1">
                        Şimdi Sipariş Ver
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item ">
            <div class="container ">
              <div class="row">
                <div class="col-md-7 col-lg-6 ">
                  <div class="detail-box">
                    <h1>
                      Hakiki Türk Burgeri CCC
                    </h1>
                    <p>
                      Öyle entel dantel isimlere yer yok. Menülerin içindeki neyse adı da o. Malazgirt besisi danalarımızın dinlenmiş, iyi pişirilmiş etinden bir ısırık aldığında damarlarındaki kan şahlanıcak! Dikkat et de herkesin içinde ulumaya başlama :) 
                    </p>
                    <div class="btn-box">
                      <a href="" class="btn1">
                        Şimdi Sipariş Ver
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container">
          <ol class="carousel-indicators">
            <li data-target="#customCarousel1" data-slide-to="0" class="active"></li>
            <li data-target="#customCarousel1" data-slide-to="1"></li>
          </ol>
        </div>
      </div>

    </section>
<!-- end slider section -->