@{
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

@model List<SignalRWebUI.Models.Dtos.CategoryDto.ResultCategoryDto>

<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">Kategori İşlemleri</h4>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">Kategori Listesi</div>
                    </div>
                    <div class="card-body">
                        <div class="card-sub">
                            Kategorilerle ilgili işlemleri aşağıdan gerçekleştirebilirsiniz :
                        </div>
                        <table class="table mt-3">
                            <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Kategori Adı</th>
                                <th scope="col">Durum</th>
                                <th scope="col">Sil</th>
                                <th scope="col">Güncelle</th>
                            </tr>
                            </thead>
                            <tbody>
                            @foreach (var category in Model)
                            {
                                <tr>
                                    <td>@category.CategoryID</td>
                                    <td>@category.Name</td>
                                    @if(@category.Status) {
                                        <td><a href="/Category/UpdateActivate/@category.CategoryID" class="btn btn-outline-info">Aktif</a></td>
                                    }
                                    else {
                                        <td><a href="/Category/UpdateActivate/@category.CategoryID" class="btn btn-outline-dark">DeAktif</a></td>
                                    }
                                    <td><a href="/Category/DeleteCategory/@category.CategoryID" class="btn btn-outline-danger">Sil</a></td>
                                    <td><a href="/Category/UpdateCategory/@category.CategoryID" class="btn btn-outline-success">Güncelle</a></td>
                                </tr>
                            }
                            </tbody>
                        </table>
                        <a href="/Category/CreateCategory" class="btn btn-outline-primary">Yeni Kategori Ekle</a>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>